###############################################
# TEMPLATE FRONTEND - USAR COMO BASE
# Copie para .env.local e ajuste
###############################################

# URL DO BACKEND
VITE_API_URL=http://localhost:3001

# AMBIENTE
VITE_NODE_ENV=development
